# Vitessce Prep

Prep scRNA object to visualize using Vitessce.

In [24]:
import scanpy
import pandas as pd
import numpy as np

In [6]:
cluster_config = pd.read_csv("../../figures_factory/configs/cluster.tsv",
                             sep='\t')
cluster_config

    cluster   colour             description  new_cluster
0         1  #B03743              Fibroblast            1
1         2  #E85F6D         Fibroblast-like            3
2         3  #7C2730         Fibroblast-like            2
3         4  #F0A118            Intermediate           12
4         5  #78A824                Pre-iPSC           13
5         6  #A6D854                Pre-iPSC           14
6         7  #F01D35         Fibroblast-like            5
7         8  #13C4A3                    iPSC           15
8         9  #406614  Partially-reprogrammed           10
9        10  #D4B81C            Intermediate            9
10       11  #006658                    xOSK            8
11       12  #CF175A         Fibroblast-like            4
12       13  #F7A6C2       Keratinocyte-like            6
13       14  #F4D5CD            Intermediate           11
14       15  #F0520A                    hOSK            7

In [17]:
atac_rna_label = pd.read_csv("../20200828_RNA_Seurat/sessions/20210725_n59378/atac.20210717_n62599.cluster.transfer.tsv",
                           sep='\t')
# rownames(atac.rna.
atac_rna_label["new_cluster"] = atac_rna_label["atac_cluster"].transform(lambda x: "C" + str(x) + "_" + cluster_config.iloc[x-1]["description"])

atac_rna_label.head()

              barcode sample  atac_cluster    new_cluster
0  AAACCCAAGAGTGACC-1     D0             1  C1_Fibroblast
1  AAACCCAAGTGCCAGA-1     D0             1  C1_Fibroblast
2  AAACCCACACCATTCC-1     D0             1  C1_Fibroblast
3  AAACCCACACGCGTCA-1     D0             1  C1_Fibroblast
4  AAACCCAGTCCATAGT-1     D0             1  C1_Fibroblast

In [2]:
rna = scanpy.read_h5ad("../20200828_RNA_Seurat/sessions/20210725_n59378/seurat.h5ad")

In [3]:
rna

AnnData object with n_obs × n_vars = 59378 × 29165
    obs: 'nCount_RNA', 'nFeature_RNA', 'sample', 'percent.mt', 'selected', 'percent.oskm', 'RNA_snn_res.1.5', 'seurat_clusters', 'RNA_snn_res.2'
    var: 'name'
    obsm: 'X_pca', 'X_umap'

In [25]:
np.all(rna.obs.index == atac_rna_label['barcode'])

True

In [31]:
rna.obs["cluster"] = atac_rna_label['new_cluster'].values

In [32]:
rna.obs.head()

,nCount_RNA,nFeature_RNA,sample,percent.mt,selected,percent.oskm,RNA_snn_res.1.5,seurat_clusters,RNA_snn_res.2,cluster
AAACCCAAGAGTGACC-1,13707.0,3472,D0,4.238710,0.0,0.007296,6,13,13,C1_Fibroblast
AAACCCAAGTGCCAGA-1,12326.0,3497,D0,5.719617,1.0,0.016226,6,13,13,C1_Fibroblast
AAACCCACACCATTCC-1,14442.0,3996,D0,4.216867,0.0,0.013848,6,32,32,C1_Fibroblast
AAACCCACACGCGTCA-1,8813.0,2793,D0,4.788381,0.0,0.011347,0,2,2,C1_Fibroblast
AAACCCAGTCCATAGT-1,12115.0,3263,D0,6.009080,0.0,0.000000,0,2,2,C1_Fibroblast

### Add endo exo OSKM quants

In [48]:
import scipy.sparse

In [38]:
endo_exo_oskm = pd.read_csv("../20211106_sendai_vs_endogenous/out/quants.tsv", sep='\t')
endo_exo_oskm.head()

,POU5F1_endo_cts,POU5F1_endo_norm,POU5F1_exo_cts,POU5F1_exo_norm,SOX2_endo_cts,SOX2_endo_norm,SOX2_exo_cts,SOX2_exo_norm,KLF4_endo_cts,KLF4_endo_norm,KLF4_exo_cts,KLF4_exo_norm,MYC_endo_cts,MYC_endo_norm,MYC_exo_cts,MYC_exo_norm
AAACCCAAGAGTGACC-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.547864,1.437999e-23,1.049098e-23,0.0,0.000000,0.000000e+00,0.000000e+00
AAACCCAAGTGCCAGA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,2.0,0.964161,7.320248e-17,5.938868e-17
AAACCCACACCATTCC-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.526162,1.507851e-17,1.044074e-17,1.0,0.526162,8.043161e-15,5.569285e-15
AAACCCACACGCGTCA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.758320,1.472511e-20,1.670839e-20,0.0,0.000000,0.000000e+00,0.000000e+00
AAACCCAGTCCATAGT-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00

In [121]:
new_genes_dat = endo_exo_oskm[["POU5F1_endo_norm", 
                              "POU5F1_exo_norm",
                              "SOX2_endo_norm", 
                              "SOX2_exo_norm",
                              "KLF4_endo_norm", 
                              "KLF4_exo_norm",
                              "MYC_endo_norm", 
                              "MYC_exo_norm"]]
new_genes_dat.head()

,POU5F1_endo_norm,POU5F1_exo_norm,SOX2_endo_norm,SOX2_exo_norm,KLF4_endo_norm,KLF4_exo_norm,MYC_endo_norm,MYC_exo_norm
AAACCCAAGAGTGACC-1,0.0,0.0,0.0,0.0,0.547864,1.049098e-23,0.000000,0.000000e+00
AAACCCAAGTGCCAGA-1,0.0,0.0,0.0,0.0,0.000000,0.000000e+00,0.964161,5.938868e-17
AAACCCACACCATTCC-1,0.0,0.0,0.0,0.0,0.526162,1.044074e-17,0.526162,5.569285e-15
AAACCCACACGCGTCA-1,0.0,0.0,0.0,0.0,0.758320,1.670839e-20,0.000000,0.000000e+00
AAACCCAGTCCATAGT-1,0.0,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000,0.000000e+00

In [145]:
new_genes = ["POU5F1_endogenous", 
             "POU5F1_sendai",
             "SOX2_endogenous", 
             "SOX2_sendai",
             "KLF4_endogenous", 
             "KLF4_sendai",
             "MYC_endogenous", 
             "MYC_sendai"]

In [146]:
stacked_X = scipy.sparse.hstack([rna.X, scipy.sparse.csr_matrix(new_genes_dat.to_numpy())]).tocsc()

In [147]:
new_ad = scanpy.AnnData(X=stacked_X,
                        obsm=rna.obsm,
                        var=pd.concat([rna.var, pd.DataFrame({'name':new_genes}, index=new_genes)], axis=0),
                        obs=rna.obs[["sample", "percent.mt", "percent.oskm", "nCount_RNA", "nFeature_RNA", "cluster"]])

/tmp/ipykernel_657132/3787644527.py:1: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  new_ad = scanpy.AnnData(X=stacked_X,

In [148]:
# new_ad = scanpy.AnnData(X=rna.X,
#                         obsm=rna.obsm,
#                         var=rna.var,
#                         obs=rna.obs[["sample", "percent.mt", "percent.oskm", "nCount_RNA", "nFeature_RNA", "cluster"]])

In [149]:
new_ad

AnnData object with n_obs × n_vars = 59378 × 29173
    obs: 'sample', 'percent.mt', 'percent.oskm', 'nCount_RNA', 'nFeature_RNA', 'cluster'
    var: 'name'
    obsm: 'X_pca', 'X_umap'

In [150]:
new_ad.X

<59378x29173 sparse matrix of type '<class 'numpy.float32'>'
	with 220384718 stored elements in Compressed Sparse Column format>

In [151]:
# scanpy.pp.highly_variable_genes(new_ad, flavor="seurat", n_top_genes=500)

In [152]:
new_ad.write_zarr("./out/scRNA.adata.zarr")

/users/surag/anaconda3/envs/vitessce-env/lib/python3.8/site-packages/zarr/creation.py:250: UserWarning: ignoring keyword argument 'maxshape'
  warn('ignoring keyword argument %r' % k)

In [153]:
import zarr

In [154]:
zarr.convenience.consolidate_metadata("./out/scRNA.adata.zarr")